<div class="container-form">

    <h1>Create vehicle</h1>
    <form [formGroup]="formCreateVehicle">
        <div class="mb-3">
            <label for="plate" class="form-label">Plate</label>
            <input type="text" id="plate" class="form-control" name="plate" formControlName="plate">
        </div>
        <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" id="brand" class="form-control" formControlName="brand">
        </div>
        <div class="mb-3">
            <label for="model" class="form-label">Model</label>
            <input type="text" id="model" class="form-control" formControlName="model">
        </div>
        <div class="mb-3">
            <label for="series" class="form-label">Series</label>
            <input type="text" id="series" class="form-control" formControlName="series">
        </div>
        <div class="mb-3">
            <label for="model-year" class="form-label">Model year</label>
            <input type="number" id="model_year" class="form-control" formControlName="model_year">

        </div>
        <div class="mb-3">
            <label for="inputState" class="form-label">Color</label>
            <select id="inputState" class="form-select" formControlName="color">
                @for(color of availableColors; track color){
                <option>{{color}}</option>
                }
            </select>
        </div>
    </form>

    <div class="buttons-footer">
        <button type="button" class="btn btn-primary" (click)="createNewVehicle()">Create vehicle</button>
    </div>
</div>