<div class="container table-container mt-5">
    <!-- Tabla de vehículos -->
    <div class="container mt-5">
        <h2 class="text-center">Vehicles Information</h2>

        <!-- Navbar flotante -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Filters</a>
                <!-- Botón toggle en versión responsive -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <!-- Campo para filtrar por placa -->
                        <li class="nav-item">
                            <input type="text" class="form-control" id="filterPlate" placeholder="Filter by Plate"
                                (keydown)="filterPlate($event)">
                        </li>
                        <!-- Campo para filtrar por marca -->
                        <li class="nav-item">
                            <input type="text" class="form-control" id="filterBrand" placeholder="Filter by Brand"
                                (keydown)="filterBrand($event)">
                        </li>
                        <!-- Selector para ordenar -->
                        <li class="nav-item">
                            <select class="form-select" id="orderSelect" (click)="orderByModelYear($event)">
                                <option>Order by model year</option>
                                <option value="Ascendant">Ascendant</option>
                                <option value="Descendant">Descendant</option>
                            </select>
                        </li>
                        <!-- Selector to filter by color -->
                        <li class="nav-item">
                            <select class="form-select" id="orderByColor" (click)="orderByColor($event)">
                                <option>All colors</option>
                                @for(color of availableColors; track color){
                                <option value={{color}}>
                                    <label>{{color}}</label>
                                </option>
                                }
                            </select>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/create-vehicle" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                                Create Vehicle
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Tabla responsive -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Plate</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Series</th>
                        <th scope="col">Model Year</th>
                        <th scope="col">Color</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @if(paginateVehicles.length === 0){
                    <tr>
                        <td colspan="8" class="text-center">No vehicles found</td>
                    </tr>
                    }

                    @for(vehicle of paginatedVehicles; track vehicle.plate){
                    <tr>
                        <td>{{vehicle.plate}}</td>
                        <td>{{vehicle.brand}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.series}}</td>
                        <td>{{vehicle.model_year}}</td>
                        <td class="text-center">{{vehicle.color}}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-primary" (click)="openModal(vehicle)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                    <path d="M16 5l3 3" />
                                </svg>
                                @if (screenWidth > 900) {
                                Edit
                                }
                            </button>

                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger" (click)="deleteVehicle(vehicle.plate)"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                                @if (screenWidth > 900) {
                                Delete
                                } </button>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
            <!-- Paginación -->
            <nav aria-label="Page  ">
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
                    </li>
                    @for(page of totalPagesArray; track page){
                    <li class="page-item" [class.active]="currentPage === page">
                        <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                    </li>
                    }
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    @if(isModalOpen){

    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Vehicle</h5>
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formUpdateVehicle">
                        <div class="mb-3">
                            <label for="plate" class="form-label">Plate</label>
                            <input type="text" id="plate" class="form-control" name="plate"
                                value="{{selectedVehicle.plate}}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" id="brand" class="form-control" formControlName="brand">
                        </div>
                        <div class="mb-3">
                            <label for="model" class="form-label">Model</label>
                            <input type="text" id="model" class="form-control" formControlName="model">
                        </div>
                        <div class="mb-3">
                            <label for="series" class="form-label">Series</label>
                            <input type="text" id="series" class="form-control" formControlName="series">
                        </div>
                        <div class="mb-3">
                            <label for="model-year" class="form-label">Model year</label>
                            <input type="number" id="model_year" class="form-control" formControlName="model_year">

                        </div>
                        <div class="mb-3">
                            <label for="inputState" class="form-label">Color</label>
                            <select id="inputState" class="form-select" formControlName="color">
                                <option>{{selectedVehicle.color}}</option>
                                @for(color of availableColors; track color){
                                <option>{{color}}</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    }


</div>