<div class="home-container">
    <div class="container-text">
        <span class="text-header">V</span>
        <span class="text-header">E</span>
        <span class="text-header">H</span>
        <span class="text-header">I</span>
        <span class="text-header">C</span>
        <span class="text-header">L</span>
        <span class="text-header">E</span>
        <span class="text-header">S</span>
        <p>- Subaru impreza -</p>
    </div>

</div>

<div class="container-selection">

    <div class="container home-selector-container text-center">
        <h1>Hola</h1>
        <div class="button-group">
            <h2 class="option-button">Opción 1</h2>
            <h2 class="option-button">Opción 2</h2>
        </div>
    </div>
</div>