<div class="home-container">
    <div class="container-text">
        <span class="text-header">V</span>
        <span class="text-header">E</span>
        <span class="text-header">H</span>
        <span class="text-header">I</span>
        <span class="text-header">C</span>
        <span class="text-header">L</span>
        <span class="text-header">E</span>
        <span class="text-header">S</span>
        <p>- Subaru impreza -</p>
    </div>

</div>

<div class="container-selection">
    <div class="container home-selector-container text-center">
        <h1>Try it</h1>
        <div class="button-group">
            <button type="button" routerLink="create-vehicle" class="btn btn-secondary">Create a vehicle</button>
            <button type="button" routerLink="dashboard" class="btn btn-secondary">See vehicles</button>
        </div>
    </div>
</div>